/* GLOBAL STYLES FOR APP */
main {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url("./hero.jpeg") rgba(40, 40, 40, 0.5) fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

:root {
  --box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --clr-green: #22c55e;
  --clr-red: #b91c1c;
  --clr-blue: #2563eb;
  --clr-yellow: #fde047;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: lightblue;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100dvh;
}

/* FOOTER */
footer {
  background-color: #865527;
  padding: 30px 0;
}

footer p,
a {
  color: #fac041;
}

footer p,
a:hover {
  color: #cd2a51;
}

.footer-box span {
  color: #fac041;
}

.footer-box {
  display: flex;
  justify-content: space-between;
}

.footer-menu li {
  list-style-type: none;
  display: inline-block;
  margin-right: 16px;
}

.social-icons i {
  color: var(--secondary-color);
  font-size: 16px;
  border: 1px solid var(--secondary-color);
  border-radius: 50%;
  padding: 8px;
}

header {
  background-color: #fac041;
  padding: 10px;
}
.navbar-brand img {
  width: 200px;
}
.nav-link {
  color: #865527;
}
.nav-link:hover {
  color: #865527;
  font-weight: 600;
}

.navbar-toggler {
  color: #865527;
}
