main {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url("./hero.jpeg") rgba(40, 40, 40, 0.5) fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero-box {
  color: #cd2a51;
  -webkit-text-stroke: 1.5px #fff;
  font-size: 80px;
}

/* Navbar */

nav {
  display: flex;
  padding: 2% 4%;
  justify-content: space-between;
  align-items: center;
}

#main-nav {
  flex: 1;
  text-align: right;
}

#main-nav ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

#main-nav ul li a {
  color: #ce3d5e;
  text-decoration: none;
  font-size: 26px;
}

#main-nav li::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #1f70f3;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 10%;
}

/* Navbar finished*/

#survey-button {
  margin-top: 20px;
}

#survey-button a {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: #cd2a51;
  background-color: #fac041;
  border: 2px solid #865527;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#survey-button a:hover {
  background-color: #fff;
  color: #ce3d5e;
}

/* Footer */
#social-networks {
  text-align: center;
  padding: 40px 0;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  border-box: 0 2px 2px inset #a5656f;
}

#social-networks i {
  font-size: 160%;
  padding: 5%;
  color: #ce3d5e;
  background-color: #1f70f3;
}
